<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="#contact-form" class="btn">Contact Me</a>
      {% if site.show_linkedin %}
      <a href="{{ site.linkedin_url }}" class="btn">Connect via LinkedIn</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

<!-- Begin Contact Form -->
      <div class="page-header contact-section">
        <h2>Let's Chat</h2>
        <p>Whether you have a question, want to discuss a project or simply want to connect. Reach out to me through this contact form, and I will get back to you shortly.</p>
      </div>
      <div class="form-message success" data-fs-success></div>
      <div class="form-message error" data-fs-error></div>
      <form id="contact-form" class="contact-form">
        <input type="hidden" name="subject" value="Contact form message" />
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" data-fs-field />
          <span class="error" data-fs-error="name"></span>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" data-fs-field />
          <span class="error" data-fs-error="email"></span>
        </div>
        <div class="input-container message">
          <label for="message">Message</label>
          <textarea id="message" name="message" data-fs-field></textarea>
          <span class="error" data-fs-error="message"></span>
        </div>
        <button type="submit" data-fs-submit-btn>Send Message</button>
      </form>
<!-- End Contact Form -->

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was created using <a href="https://jekyllrb.com">Jekyll</a> and the <a href="https://jekyll-themes.com/pages-themes/cayman">Cayman</a> theme. It was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    <script>
      window.formspree =
        window.formspree ||
        function () {
          (formspree.q = formspree.q || []).push(arguments);
        };
      formspree(
        'initForm',
        { formElement: '#contact-form', formId: 'mqevllwb' },
        // Override default rendering
        renderSuccess: ({ form }, message) => {
          const elements = document.getElementsByClassName('form-message');
          Array.from(elements).forEach(el => {
            el.style.borderRadius = '0px';
            el.style.marginBottom = '0px';
            setTimeout(() => el.style.display = 'none', 5000);
          });
        },
        renderError: ({ form }, message) => {
          const elements = document.getElementsByClassName('form-message');
          Array.from(elements).forEach(el => {
            el.style.borderRadius = '0px';
            el.style.marginBottom = '0px';
            setTimeout(() => el.style.display = 'none', 5000);
          });
        }
      );
    </script>
    <script src="https://unpkg.com/@formspree/ajax@1" defer></script>
  </body>
</html>